.page-title{
	font-weight: 400;
	color: gray;
	margin-bottom: 10px;
}
.login-title{
	font-weight: 500;
	font-size: 18px;
	margin: 10px 0;
}
.login-sub-title{
	font-size: 12px;
	margin-bottom: 40px;
}
.line-through {
	border-top: 1px solid #ff5722;
	margin: 30px 0;
	position: relative;
	text-align: center;
}
.line-through p {
	position: absolute;
	text-align: center;
	top: -28px;
	width: 100%;
}
.line-through span {
	background: #f8f8f8;
	padding: 0 10px;
}
.clr-green{
	background-color: #4CAF50 !important;
	color: white !important;
}
.muted {
	color: #aaa;
}
.btn-login-on-reg{
	width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.ui-btn, a.ui-btn{
	font-weight: 400;
}
.bg-white{
	background: white;
}
.nd2-sidepanel-profile {
	background: #FF5722;
}
.ui-input-text{
	background-color: #F8F8F8 !important;
}
.nd2Tabs li{
	font-size: 12px;
}
.nd2Tabs{
	margin-left: 0px;
}
.ui-listview > .ui-li-has-icon > img:first-child, .ui-listview > .ui-li-has-icon > .ui-btn > img:first-child {
	top: 0.6em;
	max-height: 1.5em;
	max-width: 1.5em;
}
.ui-listview > .ui-li-has-icon > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-icon {
	padding-left: 2.8em;
}

.filter-button{
	margin-top: 20px;
}

.filter-button button{
	width: 50%;
	float: left;
}
/*footer*/
#footer{
	padding: 8px;
}
#footer img{
	width: 30px;
}
#footer > #filter > #filter-kategori{
	float: left;
}

#footer > #filter > #filter-kategori .icon{
	float: left;
}
#footer > #filter > #filter-kategori .sub-kategori{
	float: left;
	padding-left: 10px;
	padding-right: 20px;
}
#footer .nama-kategori{
	font-size: 14px;
	font-weight: 600;
}
#footer .nama-sub{
	font-size: 10px;
	font-weight: 500;
}
.single-kategori{
	font-size: 14px;
	margin-top: 6px;
}
#footer > #filter > #filter-btn{
	float: left;
	font-weight: 500;
	color: #00a5ff;
	padding-right: 10px;
}
#footer > #filter > #sorting{
	float: left;
}
.ui-bck-gray{
	background: #F8F8F8;
}
.clr-blue{
	color: blue;
}
.radio-sort{
	margin-bottom: 15px;
}
.btn-pasang{
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #FF5722;
	z-index: 1000;
}
i.icon-user {
	width: 1.5em;
	height: 1.5em;
	background-size: 100% auto;
	background-position: 0px 0px;
	background-image: url("http://aksamedia.co.id/wikiloka/assets/mobile/icon/user.png");
	float: left;
	margin-top: 0.1rem;
	margin-right: 0.2rem;
	margin-top: 5px;
}
i.icon-location {
	width: 1.5em;
	height: 1.5em;
	background-size: 100% auto;
	background-position: 0px 0px;
	background-image: url("http://aksamedia.co.id/wikiloka/assets/mobile/icon/location.png");
	float: left;
	margin-top: 0.1rem;
	margin-right: 0.2rem;
	margin-top: 5px;
}

i.icon-time {
	width: 1.5em;
	height: 1.5em;
	background-size: 100% auto;
	background-position: 0px 0px;
	background-image: url("http://aksamedia.co.id/wikiloka/assets/mobile/icon/time.png");
	float: left;
	margin-top: 0.1rem;
	margin-right: 0.2rem;
	margin-top: 5px;
}
.float-left{
	float: left;
}
.clearfix{
	clear: both;
}
.clr-register{
	color: rgba(255,255,255,0.85) !important;
	background-color: #4CAF50 !important;
}
.login-register > li > a{
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-bottom: 10px !important;
}
#filterpanel{
	max-width: 100%;
	width: 100%;
	background: #f8f8f8;
}
#filterpanel .ui-panel-inner{
	height: 400px;
	overflow-y: scroll;
	padding: 0em;
}
#filterpanel .panel-header{
	background: #FF5722;
	padding: 1em;
	color: white;
}
#filterpanel .filter-button{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
#filterpanel form{
	position: relative;
}

/*list iklan*/
.single-iklan{
	margin: 6px !important;
}
.single-iklan > a{
	padding: 0px;
	background: white !important;
}
.img-list{
	left: 0 !important;
	max-height: 250px !important;
	max-width: 250px !important;
	width: 120px !important;
	height: 100px !important;
	object-fit: cover !important;
}
.list-gambar{
	float: left;
	width: 30%;
	height: 100px !important;
}
.list-detail{
	float: left;
	width: 60%;
	color: black;
	margin-top: 10px;
	margin-left: 30px;
}
.list-detail > .judul-iklan{
	font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.list-detail > .list-harga-iklan{
	font-size: 14px;
	color: orange;
}
.list-detail > .lokasi{
	font-size: 12px;
}
.list-detail > .lokasi > .nama-lokasi{
	margin-top: 6px;
	float: left;
}

/*Pilih Iklan Berbayar*/
li.list-iklan-berbayar{
	margin: 10px;
	background: white;

}
li.list-iklan-berbayar > .iklan{
	float: left;
	width: 85%;
}
li.list-iklan-berbayar > .iklan h3{
	font-size: 15px;
	margin: 0;
	font-weight: 500;
	margin-left: 15px;
	margin-top: 15px;
}
li.list-iklan-berbayar > .iklan p{
	margin: 0;
	margin-left: 15px;
	color: orange;
}
li.list-iklan-berbayar > .checkbox{
	float: left;
	width: 15%;
	margin-top: 45px;
}
.list-iklan-berbayar img{
	width: 80px;
	float: left;
	height: 100px;
	object-fit: cover;
}
/*halaman detail*/
.detail-iklan{
	padding: 10px;
	background: white none repeat scroll 0% 0%;
	margin-bottom: 5px;
	border: 1px solid #efefef;
	color: rgb(113, 113, 113);
}
.text-profil-detail{
	margin-top: 7px;
	font-size: 14px;
	margin-left: 5px;
}
.deskripsi{
	padding: 10px;
	margin-top: 10px;
	background: white none repeat scroll 0% 0%;
	border: 1px solid #efefef;
	color: rgb(113, 113, 113);
}
.harga-iklan{
	position: absolute;
	z-index: 1;
	margin-top: -55px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	font-size: 24px;
	color: orange;
}
.ui-page-theme-a{
	background: #F8F8F8;
}
.judul-iklan{
	font-size: 18px;
	font-weight: 500;
}
.iklan-owner{

}
.swiper-slide{
	text-align: center;
}
.dilihat{
	float: right;
	font-size: 12px;
	margin-right: 10px;
}
.spesifikasi{
	background: rgb(255, 87, 34) none repeat scroll 0% 0%;
	padding: 10px;
	color: white;
	margin-top: 10px;
	border-left: 8px solid rgb(255, 153, 54);
	border-right: 8px solid rgb(255, 153, 54);
}

.detail-spesifikasi{
	float: left;
	width: 50%;
}

.laporkan-penjual{
	margin-top: 10px;
}
.share{
	border-top: 1px solid #efefef;
	background: white none repeat scroll 0% 0%;
	padding: 10px;
	margin-bottom: 50px;

}
.share > .text{
	float: left;
}
.share-icon{
	float: right;
}
.share-icon > ul{
	list-style: none;
	margin-top: 0px;
}
.share-icon > ul > li{
	float: left;
}
.share-icon > ul > li img{
	width: 40px;
	margin-left: 4px;
}
/*Pasang*/

.pasang-content{
	padding: 10px;
}
.pasang-content form{
	padding: 10px;
}
#wrap-pilih-subkategori{
	display: none;
}
#wrap-pilih-sub2kategori{
	display: none;
}
#wrap-pilih-kota{
	display: none;
}
.fasilitas-checkbox .ui-checkbox{
	width: 50%;
	float: left;
}
#wrap-harga{
	width: 50%;
	float: left;
	margin-top: 7px;
}
#wrap-pilih-kategori{
	width: 50%;
	float: left;
}

/*Upgrade*/
#upgrade-list li{
	margin: 8px;
	border: 2px dashed #ff5722;
	background: #ededed;
}

.cta{
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 5px;
}
.cta > ul{
	list-style: none;
}

.cta > ul li{
	float: left;
	width: 25%;
}
