/* =========================================
===  CSS TABLE CONTENT  ====
============================================ 

	1.0 Global Style
	2.0 Header
	2.1 Mega Menu 
	2.2 Navbar
	3.0 Slideshow
	4.0 Banner
	5.0 Owl-Carousel
	6.0 Column Left
	6.1 Product
	6.2 Special Offer
	6.3 Block: Layered Navigation
	6.4 Testimonial
	7.0 Column Right
	7.1 Page Heading & Tittle Group
	7.2 Toolbar
	7.3 Product List
	7.4 Product Shop
	8.0 Blog Page
	9.0 Cart Page
	10.0 Checkout Page
	11.0 404 Page
	12.0 Contact Page
	13.0 Catlist
	14.0 Brand
	15.0 Footer
	16.0 Form

============================================
===  END CSS TABLE CONTENT  ====
============================================ */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #404040;
}

/* Global Style */
a {
    color: #404040;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #d8373e;
}
.text-primary {
    color: #d8373e;
}
.fwb {
    font-weight: 700;
}
.mt30{
	margin-top:30px;
}
/* Custom Column */
.col-smc-7 {
    width: 55.5555%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-smc-5 {
    width: 44.4445%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
/* BreadCrumbs */
.breadcrumbs {
    margin-bottom: 30px;
    border-bottom: 1px solid #d9d9d9;
}
.breadcrumb {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
}
.breadcrumb a {
    color: #7d7d7d;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
    color: #404040;
}
.breadcrumb > li + li:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #7d7d7d;
    font-size: 14px;
    line-height: 8px;
    padding: 0 10px;
    font-weight: normal;
}
.breadcrumb > .active {
    color: #404040;
}

/* Header */
.topbar {
    border-bottom: 1px solid #d9d9d9;
    color: #404040;
    position: relative;
    min-height: 38px;
}
.topbar-left {
    float: left;
}
.topbar-right {
    float: right;
}
.topbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}
.topbar-nav > li {
    float: left;
}
.topbar-nav > li:last-child {
    border-right: 1px solid #d9d9d9;
}
.topbar-nav > li > a,
.topbar-nav > li > span {
    color: #404040;
    line-height: 37px;
    font-size: 11px;
    border-left: 1px solid #d9d9d9;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
.topbar-nav > li > a:hover,
.topbar-nav > li > a:focus {
    color: #d8373e;
    text-decoration: none;
}
.email:before,
.phone:before,
.login:before,
.account:before,
.currency:before,
.language:before {
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    margin-right: 5px;
    text-align: left;
    width: 16px;
}
.email:before {
    content: "\f0e0";
}
.phone:before {
    content: "\f095";
}
.login:before {
    content: "\f13e";
}
.account:before {
    content: "\f007";
}
.currency:before {
    content: "\f0d6";
}
.language img {
    margin-right: 5px;
}
.account:after,
.currency:after,
.language:after {
    display: inline-block;
    content: "\f107";
    line-height: 35px;
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 5px;
}
.dropdown-menu {
    border-radius: 0;
    border: 0;
    margin-top: 1px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    padding: 5px 25px;
}
.dropdown-menu > li > a {
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 20px;
    padding: 10px 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #d8373e;
}
.dropdown-menu > li:last-child > a {
    border-bottom: 0;
}
.header-bottom {
    border-bottom: 3px solid #d8373e;
}
.logo {
    padding: 55px 0;
    display: block;
    border-right: 1px solid #d9d9d9;
}
.support-client {
    margin-top: 25px;
}
.support-client .box-container {
    color: #898989;
    text-align: left;
    margin-bottom: 25px;
}
.support-client .box-container:before {
    border: 1px solid #d9d9d9;
    float: left;
    font-family: FontAwesome;
    font-size: 30px;
    height: 40px;
    text-align: center;
    width: 60px;
    line-height: 38px;
}
.support-client .time:before {
    content: "\f017";
}
.support-client .free-shipping:before {
    content: "\f0d1";
}
.support-client .money-back:before {
    content: "\f0d6";
}
.support-client .box-container .box-inner {
    margin-left: 70px;
}
.support-client h2 {
    color: #898989;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.support-client p {
    margin: 0;
}
.form-search {
    border: 2px solid #d8373e;
    position: relative;
    float: left;
    margin-bottom: 25px;
}
.form-search input.input-text {
    background-color: transparent;
    ;
    border: 0 none;
    color: #d8373e;
    float: left;
    font-weight: 700;
    font-size: 16px;
    height: 54px;
    line-height: 34px;
    padding: 10px 20px;
    width: 450px;
}
.form-search input.input-text::-moz-placeholder {
    color: #d8373e;
    opacity: 1;
}
.form-search input.input-text:-ms-input-placeholder {
    color: #d8373e;
}
.form-search input.input-text::-webkit-input-placeholder {
    color: #d8373e;
}
.form-search .dropdown {
    float: left;
}
.form-search .dropdown .btn {
    border: 0;
    border-left: 3px solid #e1e1e1;
    background-color: transparent;
    border-radius: 0;
    font-size: 13px;
    margin: 10px 0;
    line-height: 20px;
    padding: 7px 15px;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    outline: none!important;
}
.form-search .dropdown .btn .fa {
    font-size: 30px;
    display: inline-block;
    line-height: 17px;
    vertical-align: middle;
    color: #a5a5a5;
    margin-left: 7px;
}
.form-search .dropdown-menu {
    margin-top: 2px;
}
.form-search .btn {
    font-size: 22px;
    padding: 12px 19px;
    line-height: 30px;
}
.mini-cart {
    float: right;
    height: 58px;
    background: #a5a5a5;
    margin-bottom: 25px;
}
.top-cart-title {
    padding: 0;
    vertical-align: top;
    text-align: center;
    margin-top: 0;
    position: relative;
}
.top-cart-title:before {
    font-family: FontAwesome;
    content: "\f07a";
    display: inline-block;
    border-right: 3px solid #e1e1e1;
    font-size: 25px;
    width: 70px;
    height: 34px;
    color: #fff;
    margin: 12px 20px 12px 0;
    float: left;
}
.top-cart-title .dropdown-toggle {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    line-height: 20px;
    text-align: left;
    padding: 5px 20px;
    margin-left: -20px;
    margin-top: 2px;
    margin-bottom: 6px;
    color: #fff;
    line-height: 20px;
}
.top-cart-title .price {
    display: block;
    font-size: 24px;
    font-weight: 700;
}
.mini-cart .dropdown-menu {
    width: 290px;
    padding: 20px;
}
.cart-listing .media {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    position: relative;
}
.cart-listing .media + .media {
    margin-top: 20px;
}
.cart-listing .media-left a {
    display: block;
    width: 67px;
    border: 1px solid #d9d9d9;
}
.cart-listing .media-body h4 {
    font-size: 12px;
    margin: 0 0 5px;
    text-transform: uppercase;
}
.mini-cart-qty {
    font-size: 12px;
    color: #737373;
    margin-bottom: 5px;
}
.mini-cart-price {
    color: #d8373e;
}
.remove-cart-item {
    background-color: #333;
    border: 0;
    color: #fff;
    padding: 0 4px;
    line-height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}
.mini-cart-subtotal {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
}
.mini-cart-subtotal .price {
    float: right;
    color: #d8373e;
    margin-left: 30px;
    font-size: 14px;
}
.checkout-btn {
    margin-top: 20px;
}
.menu {
    list-style: none;
    padding: 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    border-left: 0;
    margin: 0;
    margin-left: -30px;
}
.menu > li {
    float: left;
}
.menu > li > a {
    display: block;
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    padding: 8px 24px;
    border-left: 1px solid #d9d9d9;
}
.menu > li:first-child > a {
    border-left: 0;
}
.menu > li > a:hover,
.menu > li > a:focus,
.menu > li.active > a {
    text-decoration: none;
    color: #d8373e;
}

/* Mega Menu */
.mega-container {
    position: relative;
    z-index: 10000;
}
.navleft-container {
    position: absolute;
    width: 100%;
}
.mega-menu-title {
    border-radius: 4px 0 0 0;
    background-color: #d8373e;
    color: #fff;
    cursor: pointer;
}
.mega-menu-title h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 10px 20px;
    position: relative;
}
.mega-menu-title h3:after {
    content: "";
    display: inline-block;
    background: #c5282f url(../images/icon-mega.png) no-repeat 50% 50%;
    width: 52px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.mega-menu-category {
    border: 1px solid #d9d9d9;
    border-top: 0;
}
.mega-menu-category > .nav > li > a {
    border-bottom: 2px solid #f1f1f1;
    padding: 16.5px 15px;
    color: #404040;
    background-color: #fff;
}
.mega-menu-category > .nav > li > a:before {
    content: "\f068";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.mega-menu-category > .nav > li > a:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    right: 15px;
}
.mega-menu-category > .nav > li.nosub > a:after {
    display: none;
}
.mega-menu-category > .nav > li.more-menu {
    display: none;
}
.mega-menu-category > .nav > li.view-more > a {
    border-bottom: 0;
}
.mega-menu-category > .nav > li.view-more > a:after {
    content: "\f0fe";
}
.mega-menu-category > .nav > li > a:hover,
.mega-menu-category > .nav > li > a:focus,
.mega-menu-category > .nav > li.active > a {
    background-color: #d8373e;
    color: #fff;
}
.wrap-popup {
    position: absolute;
    left: 110%;
    top: 0;
    width: 600px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    z-index: 100;
}
.wrap-popup.column2 {
    width: 400px;
}
.wrap-popup.column1 {
    width: 200px;
}
.mega-menu-category > .nav > li.active .wrap-popup {
    left: 100%;
}
.popup {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    display: none;
    text-align: left;
    z-index: 3000;
    padding: 30px;
}
.popup h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}
.popup .nav > li > a {
    text-transform: uppercase;
    color: #404040;
    padding: 7px 0;
}
.popup .nav > li > a:hover,
.popup .nav > li > a:focus {
    color: #d8373e;
    background-color: transparent;
}
.box-banner {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}
.box-banner + .box-banner {
    margin-top: 10px;
}
.box-banner:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.box-banner h3 {
    color: #404040;
    font-weight: 700;
    font-size: 22px;
    text-transform: capitalize;
    margin: 0;
}
.box-banner .price-sale {
    color: #d8373e;
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}
.box-banner .price-sale sub,
.box-banner .price-sale sup {
    font-size: 16px;
    font-weight: 700;
}
.box-banner .price-sale sub {
    bottom: 3px;
    left: -22px;
}
.box-banner .price-sale sup {
    top: -17px;
    left: -8px;
}
.box-banner a {
    text-transform: capitalize;
    color: #7e7e7e;
    text-decoration: underline;
}
.box-banner a:hover {
    color: #d8373e;
}
.has-sep:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    left: -10px;
}

/* Navbar */
.navbar-primary {
    background-color: #d8373e;
    margin: 0;
    border: 0;
}
.navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-primary .navbar-brand {
    color: #fff;
    font-weight: 700;
}
.navbar-nav > li > a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.navbar-nav > li.active > a,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    color: #000;
}

/* Slideshow */
.dn {
    display: none;
}
.flexslider {
    margin: 30px auto;
}
.timethai {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(49, 56, 72, 0.298);
    height: 5px;
    -webkit-animation: myfirst 6000ms ease-in-out;
    -moz-animation: myfirst 6000ms ease-in-out;
    -ms-animation: myfirst 6000ms ease-in-out;
    animation: myfirst 6000ms ease-in-out;
}
@-webkit-keyframes myfirst {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes myfirst {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.timethai.pos_hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.flex-direction-nav a,
.nivo-directionNav a {
    width: 50px;
    height: 50px;
    margin: -29px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 0;
    z-index: 9;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    background: #000;
    text-decoration: none!important;
}
.flex-direction-nav .flex-next,
.nivo-directionNav a.nivo-nextNav {
    background-position: 100% 0;
    right: -50px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.flex-direction-nav .flex-prev,
.nivo-directionNav a.nivo-prevNav {
    left: -50px;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.ma-nivoslider:hover .nivo-directionNav a.nivo-nextNav {
    right: -25px;
    opacity: 1;
}
.ma-nivoslider:hover .nivo-directionNav a.nivo-prevNav {
    left: -25px;
    opacity: 1;
}
.flexslider .flex-next:hover,
.nivo-directionNav a.nivo-nextNav:hover {
    background: #404048;
}
.flexslider .flex-prev:hover,
.nivo-directionNav a.nivo-prevNav:hover {
    background: #404048;
}
.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}
.flex-direction-nav a:before,
.nivo-directionNav a:before {
    display: block;
    font-family: FontAwesome;
    color: #fff;
    font-size: 16px;
    width: 20px;
    height: 20px;
}
.flex-direction-nav .flex-prev:before,
.nivo-directionNav a.nivo-prevNav:before {
    content: "\f104";
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}
.flex-direction-nav .flex-next:before,
.nivo-directionNav a.nivo-nextNav:before {
    content: "\f105";
    transform: rotate(-135deg) translateX(-25px);
    -webkit-transform: rotate(-135deg) translateX(-25px);
    -moz-transform: rotate(-135deg) translateX(-25px);
}
.flex-control-nav,
.nivo-controlNav {
    position: absolute;
    bottom: 30px;
    text-align: center;
    right: 0;
    left: 0
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
    cursor: pointer;
    width: 11px;
    height: 11px;
    border: 3px solid #d8373e;
}
.nivo-controlNav a {
    border: 0 none;
    display: inline-block;
    height: 11px;
    margin: 0 3px;
    font-size: 0;
    width: 11px;
    cursor: pointer;
    position: relative;
    z-index: 9;
    background-color: #fff;
    border: 3px solid transparent;
}
.banner7-content {
    height: 100%;
    position: relative;
    color: #fff;
}
.banner7-content .title-container {
    position: absolute;
    top: 68%;
    right: 3%;
    text-align: center;
}
.banner7-content h1 {
    -webkit-animation: bounceIn 1500ms ease-in-out;
    -moz-animation: bounceIn 1500ms ease-in-out;
    -ms-animation: bounceIn 1500ms ease-in-out;
    animation: bounceIn 1500ms ease-in-out;
}
.banner7-content .title1 {
    display: block;
    color: #fff;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.banner7-content h2 {
    -webkit-animation: bounceIn 1800ms ease-in-out;
    -moz-animation: bounceIn 1800ms ease-in-out;
    -ms-animation: bounceIn 1800ms ease-in-out;
    animation: bounceIn 1800ms ease-in-out;
    clear: both;
}
.banner7-content h2 {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    text-transform: capitalize;
}
.banner7-content h3 {
    -webkit-animation: bounceIn 2200ms ease-in-out;
    -moz-animation: bounceIn 2200ms ease-in-out;
    -ms-animation: bounceIn 2200ms ease-in-out;
    animation: bounceIn 2200ms ease-in-out;
    float: right;
    clear: both;
    padding: 10px;
    text-transform: capitalize;
    color: #fff;
    font-family: arial;
    background-color: rgba(67, 66, 64, 0.54);
    font-size: 1.3em;
    line-height: 1.8;
    margin-bottom: 10px
}
.banner7-content .banner7-readmore {
    -webkit-animation: bounceInUp 2200ms ease-in-out;
    -moz-animation: bounceInUp 2200ms ease-in-out;
    -ms-animation: bounceInUp 2200ms ease-in-out;
    animation: bounceInUp 2200ms ease-in-out;
    clear: both;
    margin-top: 30px;
}
.banner7-content .banner7-readmore a {
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase;
    display: inline-block;
    background: #222;
    color: #fff;
    font-family: montserratbold;
}
.banner7-content .banner7-readmore a:after {
    content: "\f061";
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 10px;
}
.banner7-content .banner7-readmore a:hover {
    background: #fff;
    color: #222;
}
.banner7-content .banner7-des {
    clear: both;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner7-content .banner7-des:before {
    content: "";
    width: 13px;
    height: 100%;
    position: absolute;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.banner7-content .banner7-des h1 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    line-height: 38px;
    background: #f9af51;
    text-transform: uppercase;
    padding: 0 28px;
    margin: 0;
    float: left;
    position: relative;
    -webkit-animation: fadeInLeft 500ms ease-in-out;
    -moz-animation: fadeInLeft 500ms ease-in-out;
    -ms-animation: fadeInLeft 500ms ease-in-out;
    animation: fadeInLeft 500ms ease-in-out;
}
.banner7-content .banner7-des h1:after {
    position: absolute;
    right: -23px;
    top: 0;
    content: "";
    display: inline-block;
    width: 23px;
    height: 100%;
    background: linear-gradient(-120deg, transparent 49%, rgba(249, 175, 81, 1) 50%);
}
.banner7-content .banner7-des h2 {
    font-size: 70px;
    font-family: Oswald;
    color: #fff;
    line-height: 82px;
    background: #d8373e;
    text-transform: uppercase;
    padding: 0 28px;
    float: left;
    position: relative;
    -webkit-animation: fadeInLeft 800ms ease-in-out;
    -moz-animation: fadeInLeft 800ms ease-in-out;
    -ms-animation: fadeInLeft 800ms ease-in-out;
    animation: fadeInLeft 800ms ease-in-out;
}
.banner7-content .banner7-des h2:after {
    position: absolute;
    right: -23px;
    top: 0;
    content: "";
    width: 23px;
    height: 100%px;
    display: block;
    border-width: 38px 0 44px 23px;
    border-color: transparent;
    border-left-color: #d8373e;
    border-style: solid;
}
.banner7-content .banner7-des .check-box {
    background: #404040;
    float: left;
    padding: 15px 28px;
    clear: both;
    -webkit-animation: fadeInLeft 1200ms ease-in-out;
    -moz-animation: fadeInLeft 1200ms ease-in-out;
    -ms-animation: fadeInLeft 1200ms ease-in-out;
    animation: fadeInLeft 1200ms ease-in-out;
}
.banner7-content .banner7-des .check-box li {
    line-height: 30px;
    display: block;
    font-size: 18px;
}
.banner7-content .banner7-des .check-box li:before {
    content: "\f14a";
    float: left;
    font-size: 24px;
    margin-right: 10px;
    font-family: FontAwesome;
}
.banner7-content img {
    position: absolute;
    top: 50%;
    right: 13%;
    margin-top: -195px;
    left: auto;
}
.banner7-content img.img1 {
    -webkit-animation: bounceInDown 1000ms ease-in-out;
    -moz-animation: bounceInDown 1000ms ease-in-out;
    -ms-animation: bounceInDown 1000ms ease-in-out;
    animation: bounceInDown 1000ms ease-in-out;
}
.banner7-content img.img2 {
    -webkit-animation: bounceIn 1500ms ease-in-out;
    -moz-animation: bounceIn 1500ms ease-in-out;
    -ms-animation: bounceIn 1500ms ease-in-out;
    animation: bounceIn 1500ms ease-in-out;
}
.slider-2 .title-container {
    top: 13%;
    right: 6%;
}
.slider-2 .banner7-des {
    padding-left: 30px;
    overflow: hidden;
    right: 50%;
    left: auto;
    bottom: 18%;
}
.slider-2 .banner7-des:before {
    left: auto;
    right: 0;
}
.slider-2 .banner7-des h1 {
    float: right;
    -webkit-animation: fadeInRight 500ms ease-in-out;
    -moz-animation: fadeInRight 500ms ease-in-out;
    -ms-animation: fadeInRight 500ms ease-in-out;
    animation: fadeInRight 500ms ease-in-out;
}
.slider-2 .banner7-des h2 {
    float: right;
    float: right;
    -webkit-animation: fadeInRight 800ms ease-in-out;
    -moz-animation: fadeInRight 800ms ease-in-out;
    -ms-animation: fadeInRight 800ms ease-in-out;
    animation: fadeInRight 500ms ease-in-out;
}
.slider-2 .banner7-des h1:after {
    right: auto;
    left: -23px;
    background: linear-gradient(120deg, transparent 49%, rgba(249, 175, 81, 1) 50%);
}
.slider-2 .banner7-des h2:after {
    right: auto;
    left: -23px;
    border-width: 38px 23px 44px 0;
    border-color: transparent;
    border-right-color: #d8373e;
}
.slider-2 img.img1 {
    right: auto;
    left: 50%;
    margin-top: -40px;
    -webkit-animation: zoomIn 500ms ease-in-out;
    -moz-animation: zoomIn 500ms ease-in-out;
    -ms-animation: zoomIn 500ms ease-in-out;
    animation: zoomIn 500ms ease-in-out;
}
.slider-2 img.img2 {
    -webkit-animation: fadeInRight 1500ms ease-in-out;
    -moz-animation: fadeInRight 1500ms ease-in-out;
    -ms-animation: fadeInRight 1500ms ease-in-out;
    animation: fadeInRight 1500ms ease-in-out;
    margin-left: -270px;
}
.slider-3 h1 {
    -webkit-animation: fadeInRight 1500ms ease-in-out;
    -moz-animation: fadeInRight 1500ms ease-in-out;
    -ms-animation: fadeInRight 1500ms ease-in-out;
    animation: fadeInRight 1500ms ease-in-out;
}
.slider-3 h2 {
    -webkit-animation: fadeInRight 1800ms ease-in-out;
    -moz-animation: fadeInRight 1800ms ease-in-out;
    -ms-animation: fadeInRight 1800ms ease-in-out;
    animation: fadeInRight 1800ms ease-in-out;
}
.slider-3 h3 {
    -webkit-animation: fadeInRight 2200ms ease-in-out;
    -moz-animation: fadeInRight 2200ms ease-in-out;
    -ms-animation: fadeInRight 2200ms ease-in-out;
    animation: fadeInRight 2200ms ease-in-out;
}
.slider-3 .banner7-des {
    -webkit-animation: fadeInRight 2000ms ease-in-out;
    -moz-animation: fadeInRight 2000ms ease-in-out;
    -ms-animation: fadeInRight 2000ms ease-in-out;
    animation: fadeInRight 2000ms ease-in-out;
}
.slider-3 img.img1 {
    margin-left: -60px;
    -webkit-animation: rotateIn 1500ms ease-in-out;
    -moz-animation: rotateIn 1500ms ease-in-out;
    -ms-animation: rotateIn 1500ms ease-in-out;
    animation: rotateIn 1500ms ease-in-out;
}
.slider-3 img.img2 {
    margin-left: -220px;
    -webkit-animation: bounceIn 1500ms ease-in-out;
    -moz-animation: bounceIn 1500ms ease-in-out;
    -ms-animation: bounceIn 1500ms ease-in-out;
    animation: bounceIn 1500ms ease-in-out;
}
@media ( min-width: 1400px) {
    .slider-2 img.img2 {
        margin-left: -385px;
    }
}
@media ( max-width: 1199px) {
    .ma-banner7-container {
        min-height: 379px;
    }
    .banner7-content .banner7-des h1 {
        font-size: 24px;
    }
    .banner7-content .banner7-des h2 {
        font-size: 50px;
        line-height: 66px;
    }
    .banner7-content .banner7-des h2:after {
        border-width: 28px 0 40px 17px;
    }
    .banner7-content .banner7-des .check-box {
        padding: 10px 28px;
    }
    .banner7-content .banner7-des .check-box li {
        font-size: 12px;
    }
    .banner7-content .title1 {
        font-size: 38px;
        line-height: 50px;
    }
    .banner7-content h2 {
        font-size: 12px;
    }
    .banner7-content img.img1 {
        width: 30%;
        margin-top: -170px;
    }
    .slider-2 img.img1 {
        width: 46%;
        margin-top: -35px;
    }
    .slider-2 .banner7-des h2:after {
        border-width: 30px 23px 35px 0;
    }
}
@media ( max-width: 991px) {
    .ma-banner7-container {
        min-height: auto;
    }
}
@media ( max-width: 680px) {
    .banner7-content .banner7-des h1 {
        font-size: 16px;
        line-height: 28px;
    }
    .banner7-content .banner7-des h2 {
        font-size: 40px;
        line-height: 52px;
    }
    .banner7-content .banner7-des h2:after {
        border-width: 20px 0 33px 17px;
    }
    .banner7-content .banner7-des .check-box {
        padding-right: 10px;
    }
    .banner7-content .banner7-des .check-box li {
        font-size: 12px;
    }
    .banner7-content .banner7-des .check-box li:before {
        font-size: 16px;
    }
    .banner7-content .title1 {
        font-size: 38px;
        line-height: 50px;
    }
    .banner7-content h2 {
        font-size: 12px;
    }
    .banner7-content img.img1 {
        width: 30%;
        margin-top: -170px;
    }
    .slider-2 img.img1 {
        width: 46%;
        margin-top: -35px;
    }
    .slider-2 .banner7-des h2:after {
        border-width: 21px 16px 35px 0;
    }
}
@media ( max-width: 600px) {
    .banner7-content .title1 {
        font-size: 32px;
        line-height: 38px;
    }
    .banner7-content img.img1 {
        margin-top: -130px;
    }
}
@media ( max-width: 480px) {
    .banner7-content .banner7-des:before {
        width: 5px;
    }
    .banner7-content .banner7-des h1 {
        font-size: 16px;
        line-height: 28px;
        padding: 0 10px;
    }
    .banner7-content .banner7-des h2 {
        font-size: 40px;
        line-height: 52px;
        padding: 0 29px 0 10px;
    }
    .banner7-content .banner7-des h2:after {
        border-width: 20px 0 33px 17px;
    }
    .banner7-content .banner7-des .check-box {
        padding: 0 10px;
    }
    .banner7-content .banner7-des .check-box li {
        font-size: 12px;
    }
    .banner7-content .banner7-des .check-box li:before {
        font-size: 16px;
    }
    .banner7-content .title1 {
        font-size: 23px;
        line-height: 35px;
    }
    .banner7-content h2 {
        font-size: 9px;
    }
    .banner7-content img.img1 {
        width: 30%;
        margin-top: -115px;
    }
    .slider-2 img.img1 {
        width: 46%;
        margin-top: -35px;
    }
    .slider-2 .banner7-des h2:after {
        border-width: 21px 16px 35px 0;
    }
}
@media ( max-width: 320px) {
    .banner7-content {
        display: none;
    }
}

/* Banner */
.ads {
    display: block;
}
.ads img,
.banner a img {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    max-width: 100%;
}
.banner {
    margin-bottom: 30px;
}
.banner a {
    display: block;
}
.banner a:hover img {
    opacity: 0.7;
}
.banner-left {
    position: relative;
    margin: 0 0 30px;
    overflow: hidden;
    text-transform: uppercase;
}
.banner-left .banner-content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    text-align: center;
    color: #fff;
    pointer-events: none;
}
.banner-left .banner-content h1 {
    font-size: 30px;
    color: #000;
    line-height: 22px;
    margin: 0;
}
.banner-left .banner-content h2 {
    font-size: 44px;
    color: #d8373e;
    font-weight: 700;
    line-height: 34px;
    margin-top: 0
}
.banner-left .banner-content p {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 20px 0;
}
.banner-left .banner-content a {
    color: #fff;
    font-weight: 700;
    background: #000;
    border-radius: 4px;
    padding: 5px 15px;
    line-height: 20px;
}
.banner-left .banner-content a:hover {
    background: #d8373e;
}
.banner-left img {
    width: 100%;
    transition: all 0.3s ease-out;
    transform: scale(1);
}
.banner-left:hover img {
    transform: scale(1.2);
}
.banner-left:hover .banner-content {
    animation: zoomIn 0.3s linear alternate;
    -webkit-animation: zoomIn 0.3s linear alternate;
    -moz-animation: zoomIn 0.3s linear alternate;
}

/* owl-carousel */
.owl-container {
    margin-left: -15px;
    margin-right: -15px;
}
.owl-container .owl-carousel .owl-item {
    padding-left: 15px;
    padding-right: 15px;
}
.owl-theme .owl-controls .owl-buttons {
    text-align: center;
    position: absolute;
    top: -27px;
    right: 15px;
    background-color: #fff;
    padding-left: 15px;
}
.owl-theme .owl-controls .owl-buttons div {
    font-size: 0;
    z-index: 1;
    font-family: FontAwesome;
    display: block;
    float: left;
    color: #4c4c4c;
    text-align: center;
    width: 27px;
    height: 27px;
    border: 2px solid #d3d3d3;
    border-radius: 100%;
}
.owl-theme .owl-controls .owl-buttons div:before {
    display: block;
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 23px;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    color: #d8373e;
    border-color: #d8373e;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
    margin-right: 3px;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
    content: "\f104";
    margin-right: 5px;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:before {
    content: "\f105";
    margin-left: 5px;
}

/* col-left */

/* Product */
.timely {
    border: 2px solid #404040;
    padding: 20px;
    margin-bottom: 30px;
}
.images-container {
    position: relative;
    overflow: hidden;
}
.images-container img {
    max-width: 100%;
}
.title-group {
    color: #404040;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;
}
.title-group:before {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #404040;
    content: "";
    display: block;
    top: 50%;
    margin-top: -1px;
}
.title-group h2 {
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
    background: #fff;
    position: relative;
    padding-right: 10px;
    margin: 0;
}
.product-image {
    background: #fff;
    display: block;
}
.product-image img {
    width: 100%;
    max-width: 100%;
}
.product-name {
    margin: 10px 0;
    border-bottom: 2px solid #404040;
    font-size: 14px;
    padding-bottom: 10px;
}
.product-name a {
    text-transform: uppercase;
    font-weight: 700;
    color: #474747;
}
.product-name a:hover,
.product-name a:focus {
    text-decoration: none;
    color: #d8373e;
}
.timer-grid {
    overflow: hidden;
}
.timer-grid .box-time-date {
    background: #444;
    font-size: 9px;
    color: #fff;
    float: left;
    min-width: 50px;
    min-height: 50px;
    margin-right: 8px;
    text-align: center;
    margin-top: 7px;
    font-weight: 700;
    text-transform: uppercase;
}
.timer-grid .box-time-date.sec {
    margin-right: 0;
}
.timer-grid .box-time-date span {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-top: 6px;
}
.box-timer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

/* Rating */
.rating-box {
    width: 65px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    background: url(../images/rating.png) 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
}
.rating-box .rating {
    float: left;
    height: 11px;
    background: url(../images/rating.png) 0 100% repeat-x;
}
.ratings .rating-box {
    display: inline-block;
}
.ratings .amount a {
    font-size: 11px;
    line-height: 11px;
    color: #a5a5a5;
    text-transform: capitalize;
}
.ratings .amount a:hover {
    color: #d8373e;
    text-decoration: none;
}
.price {
    white-space: nowrap !important;
}
.price-box {
    margin: 5px 0;
}
.price-box p {
    display: inline;
    margin-right: 5px;
}
.price-box .price {
    font-weight: normal;
    font-size: 14px;
    color: #d8373e;
}
/* Regular price */

.regular-price {} .regular-price .price {
    font-weight: normal;
}
.block .regular-price,
.block .regular-price .price {}
/* Old price */

.old-price {
    margin: 0;
}
.old-price .price-label {
    white-space: nowrap;
    color: #999;
    display: none;
}
.old-price .price {
    font-weight: normal;
    color: #acacac;
    text-decoration: line-through;
}
/* Special price */

.special-price {
    margin: 0;
    padding: 3px 0;
}
.special-price .price-label {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    color: #cd5033;
    display: none;
}
.special-price .price {
    font-weight: normal;
}
.timely .price {
    font-size: 16px;
    font-weight: 700;
}

/* Special Offer */
.block {
    margin-bottom: 30px;
}
.block.block-list {
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
}
.block .block-title {
    margin-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.block .block-title strong {
    padding: 0;
    display: block;
    font-weight: normal;
    font-size: 20px;
    text-transform: capitalize;
    color: #222;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
}
.block .title-group {
    margin-bottom: 20px;
}
.block .owl-theme .owl-controls .owl-buttons {
    top: -47px;
}
.sepecialoffer-item .item-inner,
.products-grid {
    border-bottom: 2px solid #e5e5e5;
    overflow: hidden;
    padding: 20px 0;
}
.sepecialoffer-item .item-inner .images-container,
.products-grid .images-container {
    width: 33%;
    float: left;
    border: 1px solid #e5e5e5;
}
.sepecialoffer-item .item-inner .des-container,
.products-grid .des-container {
    width: 67%;
    float: left;
    padding-left: 20px;
}
.block .item .item-inner .product-name,
.products-grid .product-name {
    border: 0;
    padding: 0;
    margin: 0 0 15px;
}
.block .item .item-inner .product-name a,
.products-grid .product-name a {
    font-size: 12px;
    font-weight: 400
}
.products-grid:last-child {
    border-bottom: 0;
}

/* Block: Layered Navigation */
.block-layered-nav {
    border-bottom: 0;
    padding: 0;
    border: 0;
}
.block-layered-nav .block-title strong {
    color: #fff;
    background: #393939;
    text-transform: uppercase;
    padding: 0 10px;
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 40px;
}
.block-layered-nav .block-title strong:before {
    content: "\f0d7";
    font-family: FontAwesome;
    display: inline-block;
    position: absolute;
    right: 10px;
}
.block-layered-nav .block-subtitle {
    display: none;
}
.block-layered-nav .block-content {
    border: 1px solid #e5e5e5;
    padding: 20px;
}
.block-layered-nav .block-content .layered {
    margin-bottom: 30px;
}
.block-layered-nav .block-content .layered:last-child {
    margin-bottom: 0;
}
.block-layered-nav #search_pr button.button {
    float: right;
    margin-top: 10px;
    display: block;
}
.block-layered-nav #search_pr button.button span {
    background: #a5a5a5;
    text-transform: uppercase;
    color: #fff;
}
.block-layered-nav #search_pr button.button:hover span {
    background: #d8373e;
}
.block-layered-nav #search_pr button.button span span {
    line-height: 21px;
    padding: 4px 15px;
}
.block-layered-nav h2 {
    position: relative;
    display: block;
    font-size: 20px;
    color: #222;
    text-transform: capitalize;
    font-weight: normal;
    margin-top: 0;
}
.block-layered-nav .content-shopby {
    padding: 0;
}
.block-layered-nav ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
.block-layered-nav ol li {
    font-size: 14px;
    color: #d8373e;
    line-height: 35px;
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
}
.block-layered-nav ol li:hover,
.block-layered-nav ol li:hover a,
.block-layered-nav ol li.active a {
    color: #d8373e;
    cursor: pointer;
}
.block-layered-nav ol li:last-child {
    border: 0;
}
.block-layered-nav ol li a {
    color: #636363;
    display: block;
}
.block-layered-nav ol li a:before {
    display: inline-block;
    content: "\f0da";
    font-family: FontAwesome;
    line-height: 35px;
    margin-right: 10px;
    color: #d8373e;
}
.block-layered-nav .last {
    background: none;
    border-bottom: 0;
}
.block-layered-nav .layered-price h2 {
    margin: 0;
    padding: 0 0 30px;
}
.block-layered-nav #search_pr {
    text-align: center;
    overflow: hidden;
    margin-top: 25px;
}
.block-layered-nav #search_pr input {
    float: left;
    width: 70px;
}
.block-layered-nav #search_pr input + input {
    margin-left: 5px;
}

/* Testimonial */
.testimonial-sidebar-content .content a {
    color: #5b5b5b;
}
.testimonial-sidebar-content .post-by {
    overflow: hidden;
    margin-top: 20px;
}
.testimonial-sidebar-content .testimonial-content-avatar {
    float: left;
    margin-right: 10px;
    width: 50px;
}
.testimonial-sidebar-content .testimonial-content-avatar img {
    border-radius: 100%;
    max-width: 100%;
}
.testimonial-sidebar-content .box-author {
    float: left;
    text-align: left;
    margin-top: 7px;
}
.testimonial-sidebar-content .box-author span {
    display: block;
}
.testimonial-sidebar-content .box-author span.testimonial-author {
    font-weight: 700;
    color: #d8373e;
    text-transform: uppercase;
}
.testimonial-sidebar-content .box-author span.testimonial-date {
    color: #909090;
    font-size: 10px;
    text-transform: uppercase;
}


/* col-right */

/* Page Heading */
.page-title {
    overflow: hidden;
    margin: 0 0 30px;
}
.page-title h1,
.page-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #393939;
    font-weight: 700;
    margin: 0;
    line-height: 40px;
    float: none !important;
}
.page-title-line {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}
.page-title .separator {
    margin: 0 3px;
}
/* Tittle Group */
.title-group1 {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}
.title-group1 h2 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
    color: #404040;
    margin: 0;
    line-height: 40px;
}
.title-group1 h2:before {
    content: "\f02e";
    display: block;
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    font-family: FontAwesome;
    color: #d8373e;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
}
.title-group3 {
    margin-bottom: 30px;
}

/* Toolbar */
.toolbar {
    overflow: hidden;
    margin: 0 0 30px;
    border-bottom: 1px solid #e5e5e5;
}
.toolbar a {
    color: #404040;
}
.toolbar label {
    font-weight: normal;
    text-transform: capitalize;
    color: #404040;
    font-size: 13px;
    line-height: 40px;
}
.toolbar .pager {
    padding: 0;
}
.toolbar .sorter {
    margin: 0 0 -1px;
}
.toolbar-bottom .toolbar {
    text-align: center;
    margin: 30px 0 0;
}
.toolbar-bottom .toolbar .pager .pages {
    display: inline-block;
}
.sorter .view-mode {
    float: right;
    margin: 0;
}
.sorter .view-mode label {
    float: left;
    margin: 0 5px 0 0;
    display: none;
}
.sorter .view-mode span {
    height: 16px;
    float: left;
    margin: 2px 5px 0 0;
}
.sorter .view-mode .grid,
.sorter .view-mode .list {
    font-size: 0;
    width: 40px;
    height: 40px;
}
.sorter .view-mode .grid:before,
.sorter .view-mode .list:before {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    font-family: FontAwesome;
    font-size: 16px;
    text-align: center;
    color: #959595;
    border: 1px solid #e5e5e5;
    line-height: 40px;
}
.sorter .view-mode .grid:before {
    content: "\f009";
}
.sorter .view-mode .list:before {
    content: "\f00b";
}
.sorter .view-mode strong.grid:before,
.sorter .view-mode a.grid:hover:before {
    color: #fff;
    background: #d8373e;
    border-color: #d8373e;
}
.sorter .view-mode strong.list:before,
.sorter .view-mode a.list:hover:before {
    color: #fff;
    background: #d8373e;
    border-color: #d8373e;
}
.sorter .view-mode .list {
    line-height: 30px;
    float: left;
    margin-left: 5px;
    color: #000;
    font-weight: normal;
}
.sorter .view-mode .grid {
    line-height: 30px;
    float: left;
    color: #000;
    font-weight: normal;
}
.pager li > a,
.pager li > span {
    display: inline;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
}
.pager {
    padding: 5px;
    text-align: center;
    margin: 0;
    float: right;
}
.pager select {
    border: 0;
    font-style: normal;
    color: #000;
    width: auto;
}
.pager .amount {
    float: left;
    margin: 4px 30px 0 0;
}
.pager .limiter {
    float: left;
    font-size: 14px;
    margin-left: 20px;
}
.pager .limiter .limiter-inner {
    display: inline-block;
    padding-right: 5px;
}
.pager .limiter label {
    vertical-align: middle;
    margin: 0;
}
.pager .limiter select {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    background: none;
}
.pager .pages {
    float: right;
    padding: 8px 0 9px 15px;
    border-left: 1px solid #e5e5e5;
    margin-left: 15px;
}
.pager .pages strong {
    font-weight: normal;
    color: #363636;
    text-transform: capitalize;
    font-size: 14px;
    display: none;
}
.pager .pages ol {
    display: inline;
}
.pager .pages li {
    display: inline-block;
    margin: 0 5px;
    font-size: 13px;
    line-height: 20px;
}
.pager .pages li:last-child {
    border: 0;
}
.pager .pages .current,
.pager .pages li a:hover {
    background: none;
    color: #d8373e;
    font-size: 13px;
}
.pager .pages li a {
    font-size: 13px;
    color: #222;
    display: block;
    margin: 0 5px;
}
.pager .sort-by {
    float: left;
    margin: 0;
    padding: 0 20px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.pager .sort-by label {
    vertical-align: middle;
    margin: 0;
}
.pager .sort-by select {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
.pager .sort-by a {
    display: inline-block;
}
.sorter {
    float: left;
}
.sorter .view-mode {
    float: left;
    margin: 0;
}
.sorter .view-mode a {
    text-decoration: none;
}

/* Product List */
.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.products-list li.item {
    margin-bottom: 30px;
}
.products-list .item .item-inner .product-name,
.blog-list .item .item-inner .product-name {
    border: 0;
    padding: 0;
}
.products-list .product-name a,
.blog-list .product-name a {
    color: #404040;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
}
.products-list .product-name a:hover,
.blog-list .product-name a:hover {
    color: #d8373e;
}
.products-list .price-box {
    padding-top: 15px;
    border-top: 2px solid #404040;
    margin-top: 15px;
}
.products-list .price-box .price {
    font-size: 20px;
}
.products-list .availability {
    float: left;
    margin: 3px 0 0;
}
.products-list .desc {
    clear: both;
    color: #444;
    font-size: 12px;
    margin: 15px 0;
    line-height: 24px;
}
.products-list .desc .link-learn {
    font-size: 11px;
}
.products-list .product-shop .btn-danger {
    float: left;
    position: relative;
    padding-right: 47px;
}
.products-list .item-inner .add-to-links {
    float: left;
    margin: 0;
}
.products-list .add-to-links .separator {
    display: none;
    margin: 0 2px;
}
.products-list .item-inner .actions {
    position: static;
}
.products-list .item-inner .actions .btn-danger:after,
.btn-cart:after {
    width: 34px;
    height: 34px;
    background: #c5282f;
    content: "\f07a";
    text-align: center;
    font-family: FontAwesome;
    font-size: 14px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 34px;
}
.products-list .item-inner .add-to-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.products-list .item-inner .add-to-links li {
    border: 0;
    float: left;
    margin-left: 5px;
}
.products-list .item-inner .add-to-links li a {
    line-height: 34px;
    text-align: center;
    font-size: 0;
    width: 36px;
    height: 34px;
    color: #fff;
    background: #404040;
    display: block;
}
.products-list .item-inner .add-to-links li a:hover {
    background: #d8373e;
}
.products-list .item-inner .add-to-links li a:before {
    font-family: FontAwesome;
    font-size: 16px;
    display: block;
}
.products-list .item-inner .add-to-links li a.link-wishlist:before {
    content: "\f0ec";
}
.products-list .item-inner .add-to-links li a.link-compare:before {
    content: "\f005";
}
.products-list .item-inner .actions {
    border: 0;
}

/* Product Shop */
.product-shop {
    margin-bottom: 30px;
}
.col3-layout .product-view .product-shop {
    float: none;
    width: auto;
}
.product-view .product-shop .product-name {
    margin: 0 0 5px;
    border: 0;
    padding: 0;
}
.product-view .product-shop .product-name h1 {
    margin: 0;
    font-size: 20px;
    color: #404040;
    text-transform: capitalize;
    font-weight: normal;
}
.product-view .product-shop .availability {
    font-size: 13px;
    margin: 10px 0 20px;
}
.product-view .product-shop .availability span {
    font-weight: normal;
    color: #d8373e;
}
.product-view .product-shop .short-description {
    margin: 10px 0;
    padding: 10px 0;
    color: #6a6a6a;
    font-size: 13px;
    line-height: 23px;
}
.product-view .product-shop .box-container2 {
    overflow: hidden;
    border-top: 2px solid #404040;
    padding-top: 10px;
    margin-top: 15px;
}
.product-view .product-shop .price-box {
    margin: 0;
}
.product-view .product-shop .price-box .price {
    font-size: 20px;
    font-weight: 700;
}
.product-view .product-shop .old-price .price {
    font-weight: 400;
}
.product-view .product-shop .ratings {
    margin: 10px 0;
}
.product-view .product-shop .add-to-links {
    margin: 0;
}
.product-view .product-shop .add-to-links {
    font-size: 12px;
    text-align: right;
}
.product-view .product-shop .add-to-links li,
.product-view .product-shop .add-to-links li .separator {
    display: inline;
}
.product-view .product-shop .add-to-links li {
    display: block;
    float: left;
}
.product-view .product-shop .add-to-links li a {
    display: block;
    text-align: center;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-size: 12px;
    background: #a5a5a5;
    padding: 0 15px;
    line-height: 36px;
    text-decoration: none;
}
.product-view .product-shop .add-to-links li a:hover {
    background: #d8373e;
}
.product-view .product-shop .add-to-links li a:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 8px;
}
.product-view .product-shop .add-to-links li a.link-wishlist:before {
    content: "\f005";
}
.product-view .product-shop .add-to-links li a.link-compare:before {
    content: "\f0ec";
}
.product-img-box {
    margin-bottom: 30px;
}
.product-view .product-img-box .more-views .bx-wrapper {
    height: 100%;
}
.product-view .product-img-box .more-views .bx-wrapper .bx-viewport {
    height: 100% !important;
}
.product-view .product-img-box .more-views ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-view .product-img-box .more-views li {
    float: left;
    margin-bottom: 5px;
}
.product-view .product-img-box .more-views li a {
    border: 1px solid #e5e5e5;
    display: block;
}
.qty .btn {
    font-weight: 700;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
}
.qty .form-control {
    text-align: center;
}
.product-tab {
    margin-bottom: 30px;
}
.tab-custom li > a {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    color: #585858;
}
.tab-custom .nav-tabs > li.active > a,
.tab-custom .nav-tabs > li.active > a:hover,
.tab-custom .nav-tabs > li.active > a:focus {
    background-color: #393939;
    color: #fff;
    border-color: transparent;
}
.tab-custom .tab-content > .tab-pane {
    padding: 20px;
    border: 1px solid #e5e5e5;
    border-top: 0;
    line-height: 24px;
}
.productslider-item {
    margin-bottom: 30px;
}
.product_icon {
    position: absolute;
    top: 0;
    left: 0;
}
.new-icon {
    display: block;
    width: 57px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #f9af51;
    border-radius: 100%;
    margin-bottom: -15px;
}
.sale-icon {
    display: block;
    width: 57px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #d8373e;
    border-radius: 100%;
}
.box-hover .add-to-links {
    margin: 0;
    list-style: none;
    padding: 0;
}
.box-hover .add-to-links li {
    margin: 3px 0;
}
.box-hover {
    position: absolute;
    top: 50%;
    margin-top: -76px;
    right: -100%;
    float: right;
    text-align: right;
}
.item .item-inner:hover .images-container .box-hover {
    right: 0;
}
.box-hover .add-to-links li a {
    height: 36px;
    display: inline-block;
    font-size: 0;
    color: #fff;
    line-height: 36px;
    text-align: left;
    padding: 0;
    text-transform: capitalize;
    margin: 0;
    background: none;
}
.box-hover .add-to-links li a:after {
    width: 36px;
    height: 36px;
    float: right;
    background: #404040;
    content: "";
    text-align: center;
    font-family: FontAwesome;
    font-size: 14px;
}
.box-hover .add-to-links li a:hover {
    padding-left: 15px;
    margin: 0 0 0 10px;
    font-size: 14px;
    background: #d8373e;
}
.box-hover .add-to-links li a:hover:after {
    margin-left: 15px;
    background: #c5282f;
}
.item .item-inner .images-container .box-hover .add-to-links li a.link-wishlist:after {
    content: "\f0ec";
}
.item .item-inner .images-container .box-hover .add-to-links li a.link-compare:after {
    content: "\f005";
}
.item .item-inner .images-container .box-hover .add-to-links li a.link-quickview:after {
    content: "\f08e";
}
.item .item-inner .images-container .box-hover .add-to-links li a.link-cart:after {
    content: "\f07a";
}
.item .item-inner .product-name {
    border-bottom: 2px solid #404040;
    padding-bottom: 10px;
}
.box-hover {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
/* new product */
.newproductslider-container .title-group1 h2:before {
    content: "\f0c3";
}

/* Bx Slider */
.bx-wrapper {
    max-width: 100% !important;
    position: relative;
}
.bx-wrapper .bx-viewport {} .bx-wrapper .bx-viewport .bxslider,
.bx-wrapper .bx-viewport .products-grid {
    width: 20000% !important;
}
.bx-wrapper .bx-controls-direction a {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 0;
    z-index: 1;
    font-family: FontAwesome;
    display: block;
    color: #4c4c4c;
    text-decoration: none;
    opacity: 0;
}
.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}
.bx-wrapper .bx-controls-direction a:before {
    font-size: 14px;
    font-family: FontAwesome;
    display: block;
    text-align: center;
}
.bx-wrapper .bx-controls-direction a:hover {
    color: #d8373e;
}
.bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
}
.bx-wrapper .bx-controls-direction a.bx-prev:before {
    content: "\f104";
}
.bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
}
.bx-wrapper .bx-controls-direction a.bx-next:before {

    content: "\f105";
}

/* Blog Page */
.menu-recent .item-inner .des-container {
    margin-top: 15px;
    position: relative;
}
.menu-recent .date-comments {
    color: #949494;
    font-size: 11px;
    overflow: hidden;
    text-align: right;
    text-transform: capitalize;
}
.menu-recent .des-container .des,
.blog-index-list .des-container .des {
    color: #5b5b5b;
}
.menu-recent .des-container .des h4 {
    color: #404040;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.menu-recent .des-container .des h4 a {
    color: #404040;
}
.menu-recent .des-container .des h4 a:hover {
    color: #d8373e;
}

/* Blog Page: Comments */
.comment-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}
.comment-item h4 {
    font-size: 14px;
    margin: 0;
}
.comment-item h4 a {
    color: #404040;
}
.comment-date {
    font-size: 11px;
    color: #999;
    margin-bottom: 10px;
}
/* Blog Page: Tags */
.tags {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -3px;
}
.tags > li {
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 3px;
}
.tags > li > a {
    display: block;
    line-height: 20px;
    font-size: 12px;
    color: #393939;
    border: 1px solid #e5e5e5;
    padding: 5px 20px;
}
.tags > li > a:hover,
.tags > li > a:focus,
.tags > li.active > a {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

/* Blog Page: List */
.blog-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.blog-list > li {
    margin-bottom: 30px;
}
.blog-list .product-name {
    margin-top: 0;
}
.blog-list .ratings {
    border-bottom: 2px solid #404040;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.ratings .amount a,
.comment-amount a {
    font-size: 11px;
    color: #404040;
}
.comment-amount a:hover {
    color: #d8373e;
}
.blog-list .separator {
    margin: 0 5px;
    font-size: 11px;
    display: inline-block;
    vertical-align: text-top;
}
.blog-attr {
    color: #d8373e;
    margin-bottom: 15px;
}
.blog-attr a {
    font-size: 12px;
    color: #d8373e;
}
.blog-list .desc {
    line-height: 24px;
    margin-bottom: 20px;
}
.blog-image {
    margin-bottom: 30px;
}
.blog-detail .product-name a {
    font-size: 30px;
}
.blog-detail .well {
    font-style: italic;
    font-size: 18px;
    line-height: 160%;
}
.well {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
}
.share-post {
    font-weight: 700;
    font-size: 14px;
    margin: 30px 0;
}
.share-label {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
.share-post ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.share-post ul > li {
    display: inline-block;
}
.share-post ul > li > a {
    display: block;
    font-size: 22px;
    border-left: 1px solid #b2b2b2;
    padding: 2px 20px;
}
.share-post ul > li:first-child > a {
    border-left: 0;
}
.color-facebook a {
    color: #5c6cb2;
}
.color-twitter a {
    color: #7dc6ff;
}
.color-pinterest a {
    color: #ff6582;
}
.color-gplus a {
    color: #ff4c4c;
}
.color-linkedin a {
    color: #4eb3c2;
}
.comment-list {
    color: #6a6a6a;
}
.comment-list .comment-date {
    font-weight: 700;
    font-size: 12px;
    color: #939393;
    margin-bottom: 0;
}
.comment-title {
    font-size: 14px;
    color: #404040;
}
.comment-reply {
    padding: 20px 20px 20px 90px;
    background-color: #f2f2f2;
}
.comment-list .media-left {
    padding-right: 20px;
}
.comment-list .comment-item {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
}
.comment-list .comment-item > .media {
    padding-bottom: 20px;
}

/* Pagination */
.pagination {
    border: 2px solid #404040;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
}
.pagination > li > a,
.pagination > li > span {
    border: 0;
    color: #404040;
    padding-left: 20px;
    padding-right: 20px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    font-weight: normal;
}
.pagination > li.divider > span {
    padding-left: 0;
    padding-right: 0;
    font-weight: normal;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: transparent;
    color: #d8373e;
}

/* Cart Page */
.custom-table {
    border: 1px solid #e5e5e5;
}
.custom-table > thead > tr > th,
.custom-table > tbody > tr > td {
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    padding: 15px 20px;
}
.custom-table > thead > tr > th {
    border-bottom-width: 2px;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
}
.custom-table .btn-remove {
    font-size: 24px;
    color: #d8d8d8;
}
.custom-table .btn-remove:hover {
    color: #d8373e;
}
.custom-table .product-image {
    width: 130px;
    margin: 0 auto;
}
.custom-table .qty {
    width: 150px;
}
.subtotal,
.grandtotal {
    font-size: 18px;
    text-align: center;
}
.grandtotal {
    color: #d8373e;
}
.line2 {
    border-top: 2px solid #e5e5e5;
    margin: 30px 0;
}
.line2.mtb20 {
    margin: 20px 0;
}
.table-cart-total tbody > tr > td {
    border: 0;
    font-size: 16px;
}
.table-cart-total {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.input-qty{
	width:50px;
	display:inline-block;
	text-align: center;
}

/* Checkout Page */
.checkout-progress {
    list-style: none;
    padding: 0;
    margin: 0;
}
.block-layered-nav .checkout-progress > li {
    cursor: auto!important;
    font-size: 13px;
    color: #404040!important;
}
.checkout-step-item{
	margin-bottom:5px;
}
.step-title {
    text-align: right;
    background: #a5a5a5;
	cursor:pointer;
}
.step-title .number {
    float: left;
    margin: 0;
    font-size: 24px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    background: #949494;
}
.step-title h2 {
    float: left;
    margin: 0 0 0 15px;
    line-height: 46px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
}
.step-title.collapsed {
    background: #eee;
}
.step-title.collapsed .number {
    background: #eee;
    color: #b1b1b1;
}
.step-title.collapsed h2 {
    color: #636363;
    font-size: 16px;
}
.step-content {
    padding: 30px 0;
}

/* 404 Page */
.page-not-found {
    text-align: center;
}
.page-not-found-img {
    text-align: center;
    margin: 150px 0 60px;
}
.page-not-found-img img {
    max-width: 100%;
}
.page-not-found .page-content {
    margin-top: 50px;
}
.page-not-found .page-content .title-note {
    background: #404040;
}
.page-not-found .page-content .title-note h1 {
    line-height: 43px;
    padding: 10px;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}
.page-not-found .page-content .des-container {
    border: 1px solid #e1e1e1;
    border-top: 0;
    padding: 30px 30px 50px;
}
.form-search label {
    display: none;
}
.page-not-found #search_mini_form {
    float: none;
    display: block;
}
.page-not-found .form-search {
    float: none;
    position: relative;
    display: inline-block;
    margin: 30px 0 0;
    border: 0;
}
.page-not-found .form-search input.input-text {
    float: left;
    width: 500px;
    height: 48px;
    border: 0;
    background: #eee;
}
.page-not-found .form-search .btn {
    font-size: 14px;
    min-width: 180px;
    padding: 9px 20px;
}
.page-not-found p {
    font-size: 14px;
    text-transform: capitalize;
    color: #6a6a6a;
}
.page-not-found p a {
    font-size: 18px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 7px 30px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.page-not-found p a:hover {
    background-color: #5dbad5
}
.page-not-found address {
    margin-top: 140px;
    text-transform: capitalize;
}
.page-not-found address a {
    color: #5dbad5;
}
.page-not-found address a:hover {
    text-decoration: underline;
}

/* Contact Page */
#map {
    height: 480px;
    background-color: #eaeaea;
    margin: 30px auto;
}

.main {
    margin: 30px auto;
    min-height: 400px;
    padding: 0;
    text-align: left;
}
/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }


.buttons-set { clear:both; margin:4em 0 0; padding:8px 0 0; border-top:1px solid #e4e4e4; text-align:right; }
.buttons-set p.required { margin:0 0 10px; }
.buttons-set .back-link { float:left; margin:0; }
.buttons-set button.button { clear: both; }
/* Form lists */
/* Grouped fields */
/*.form-list { width:535px; margin:0 auto; overflow:hidden; }*/
.form-list li { margin:0 0 8px; }
.form-list label { float:left; color:#000; font-weight: normal; text-transform: capitalize; position:relative; z-index:0;  font-size: 14px;  }
.form-list label.required {}
.required { color: #f22e3b;}
.form-list label.required em { float:right; font-style:normal; color:#f22e3b; position:absolute; top:0; right:-8px; font-family: arial; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; float: left; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }
/*.form-list li.fields { margin-right:-15px; }*/
.form-list .input-box { display:block; clear:both; width: 95%; }
.form-list .field { float:left; width:275px; }
.form-list input.input-text { width: 100%; }
.form-list textarea { width:254px; height:10em; }
.form-list select { width:100%; }
.form-list li.wide .input-box { width:535px; }
.form-list li.wide input.input-text { width:529px; }
.form-list li.wide textarea { width:529px; }
.form-list li.wide select { width:535px; }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }

.form-list-narrow li  { margin-bottom:0; }
.form-list-narrow li .input-box { margin-bottom:6px; }
.form-list-narrow li.wide .input-box { width:260px; }
.form-list-narrow li.wide input.input-text,
.form-list-narrow li.wide textarea { width:254px }
.form-list-narrow li.wide select { width:260px; }
ul, ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.f-left,
.left         { float:left !important; }
/* Account Login/Create Pages ============================================================ */
.account-login .content { min-height:345px; padding:14px 21px; border:1px solid #ddd; border-bottom:0; }
.account-login .content h2 { font-weight: normal;font-family: 'Open Sans', sans-serif;font-weight: 700; font-size:14px; margin:0 0 14px; padding:0 0 5px 23px; border-bottom:1px solid #ddd; background-position:0 1px; background-repeat:no-repeat; text-transform:uppercase; color:#1b7a90; }
.account-login .new-users h2 { background-image:url(../images/i_page1.gif)}
.account-login .registered-users h2 { background-image:url(../images/i_page2.gif); }
.account-login .buttons-set { border:1px solid #ddd;  margin:0; padding:8px 13px; }

.account-create {}
.account-create .form-list input.input-text { border: 0; background: #f2f2f2; }
input.input-text,select,textarea { background:#fff; border:1px solid #ddd; }
input.input-text,textarea { padding: 5px; height: 34px; width: 260px; }
select { padding:1px; height: 36px; font-size: 13px;  color: #9e9e9e; }
select option { padding-right:10px; }
select.multiselect option { border-bottom:1px solid #b6b6b6; padding:2px 5px; }
select.multiselect option:last-child { border-bottom:0; }
textarea { overflow:auto; }
input.radio { margin-right:3px; margin: auto;}
input.checkbox { margin-right:3px; }
input.qty { width: 50px !important; text-align:center;}
button.button::-moz-focus-inner { padding:0; border:0; } /* FF Fix */
button.button { -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.button { overflow:visible; width:auto; border:0; padding:0; margin:0; background: none; cursor:pointer;   }
button.button:hover { }
button.button span { display: block;}
button.button span span { line-height: 30px; padding: 5px 20px; background: #a5a5a5;  display: block; font-size: 14px; text-transform: uppercase; color: #fff;  }
button.button:hover span span { background: #d8373e;  } 

button.btn-cart span span:before { }
button.disabled span { border-color:#bbb !important; background:#bbb !important; }

.fieldset { border:1px solid #ddd; background:#fff; padding:22px 25px 12px 33px; margin:28px 0; }
.fieldset .legend { float:left; font-family: 'Open Sans', sans-serif;font-weight: 700; font-style: italic; font-size:13px; border:1px solid #ddd; background:#fff; color:#333; margin:-33px 0 0 -10px; padding: 3px 8px; position:relative; }

/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }

/* Sidebar =============================================================================== */
.block:last-child {  }
.block { margin:0 0 30px; padding: 15px; border: 1px solid #e5e5e5; }
.block .block-title { margin-bottom: 10px; border-bottom: 1px solid #e5e5e5; } 

.block .block-title strong { padding: 0; display:block;  font-weight: normal; line-height: 40px; font-size: 20px; text-transform: capitalize; color: #222; font-family: 'Open Sans', sans-serif; font-weight: normal;  margin: 0; }
.block .block-title strong span {} 

.block .block-title a { text-decoration:none !important; }
.block-layered-nav .block-subtitle { margin:0; padding:5px 0;  font-weight: normal; color:#333; text-transform: uppercase; }
.block .block-content {  }
.block .block-content li.item { padding: 0; }
.block .block-content .product-name { color:#1e7ec8; }
.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.block .actions { text-align:right; margin-top: 10px; }
.block .actions a { float:left; }
.block .actions button.button { float:right; }
.block .empty { margin:0; padding:5px 9px; color: #939393; }

.block li.odd {  }
.block li.even { background-color:#fafafa; }

/* Block: Poll */
.block-poll .block-title strong {  }
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { color:#777; font-weight: normal; font-size: 13px; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
.block-poll .label { display:block; margin-left:18px; text-align: left; }
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll button.button span {}
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }


/* Catlist */
.catlist {
    margin: 30px 0;
}
.catlist .title-group1 h2:before {
    content: "\f03b";
}
.catlist {
    margin-top: 30px;
}
.catlist .image-cat {
    border: 1px solid #e5e5e5;
}
.catlist .image-cat img {
    max-width: 100%;
}
.catlist .name-cat {
    text-transform: uppercase;
    color: #404040;
    font-size: 14px;
}
.catlist .name-cat h3 {
    font-size: 16px;
    font-weight: 700;
}
.catlist .name-cat:hover {
    color: #d8373e;
}
.catlist .view-more {
    display: inline-block;
    line-height: 20px;
    padding: 0 10px;
    color: #fff;
    background: #d8373e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    text-decoration: none;
}
.catlist .view-more:hover {
    opacity: 0.7;
}
.catlist .view-more:after {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0da";
    margin-left: 5px;
}
.catlist .list-cat {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #404040;
}
.catlist .list-cat ul {
    list-style: none;
    padding: 0;
}
.catlist .list-cat li a {
    color: #5b5b5b;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 26px;
}
.catlist .list-cat li a:hover {
    color: #d8373e;
}
.catlist .list-cat li a:before {
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 10px;
}

/* Brand */
.brands {
    margin: 30px 0 40px;
}
.brands .title-group1 h2:before {
    content: "\f125";
}
.title-group1 + .owl-container .owl-theme .owl-controls .owl-buttons {
    top: -64px;
}

/* Footer */
/* Footer Top */
.footer-top {
    color: #808080;
    overflow: hidden;
    margin: 0;
    background: #404048;
    padding: 15px 0;
}
.subscribe:before {
    border: 1px solid #696969;
    float: left;
    font-family: FontAwesome;
    font-size: 30px;
    height: 40px;
    text-align: center;
    width: 60px;
    line-height: 37px;
    color: #fff;
    content: "\f0e0";
}
.subscribe-inner {
    margin-left: 70px;
    color: #c6c6c6;
}
.subscribe-inner h3 {
    font-size: 22px;
    color: #fff;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 100%;
}
.footer-top .social {
    padding: 0;
    list-style: none;
    float: right;
    margin: 2px 0;
}
.footer-top .social li {
    float: left;
    margin-right: 10px;
}
.footer-top .social li a {
    display: block;
    font-size: 0;
    color: #fff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}
.footer-top .social li a:hover {
    color: #fff;
    background: #d8373e;
}
.footer-top .social li a:before {
    display: block;
    font-family: FontAwesome;
    font-size: 20px;
    text-align: center;
}
.footer-top .social li a.face:before {
    content: "\f09a";
}
.footer-top .social li a.twitter:before {
    content: "\f099";
}
.footer-top .social li a.google:before {
    content: "\f0d5";
}
.footer-top .social li a.youtube:before {
    content: "\f167";
}
.footer-top .social li a.linkedin:before {
    content: "\f0e1";
}
.form-subscribe {
    margin: 2px 0;
}
.form-subscribe .form-control {
    height: 36px;
    border: 0;
    min-width: 258px;
}
.form-subscribe .btn {
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 20px;
}
/* Footer Middle */
.footer-middle {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #eaeaea;
}
.footer-middle .footer-title {
    margin: 5px 0 15px;
}
.footer-middle .footer-title h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
    margin: 0;
    line-height: 30px;
    padding-bottom: 5px;
}
.footer-middle .footer-content {
    color: #444;
    font-size: 13px;
}
.footer-middle .footer-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    margin-top: -5px;
}
.footer-middle .footer-content ul li a {
    display: block;
    line-height: 30px;
    color: #444;
    text-transform: capitalize;
    font-size: 13px;
}
.footer-middle .footer-content ul li a:hover {
    text-decoration: none;
    color: #d8373e;
}
.footer-middle .footer-content ul li a:before {
    content: "\f0da";
    display: inline-block;
    margin-right: 10px;
    font-family: FontAwesome;
    color: #d8373e;
}
.footer-middle .footer-content ul li.last a {
    border-bottom: 0;
}
.footer-middle p,
.block p {
    margin: 0;
    display: inline;
}
.footer-middle .footer-content .add:before,
.block .add:before {
    float: left;
    font-family: FontAwesome;
    margin-right: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    color: #d8373e;
    height: 30px;
}
.footer-middle .footer-content .address:before,
.block .address:before {
    content: "\f041";
}
.footer-middle .footer-content .email:before,
.block .email:before {
    content: "\f0e0";
}
.footer-middle .footer-content .phone:before,
.block .phone:before {
    content: "\f095";
}
.footer-middle .footer-content .add,
.block .add {
    overflow: hidden;
}
.footer-middle .footer-content .phone,
.block .phone {
    margin: 5px 0;
}
.footer-middle .footer-content .contact-link {
    margin-top: 25px;
}
.footer-middle .footer-content .contact-link a {
    padding-left: 30px;
    padding-right: 30px;
}
/* Footer Bottom */
.footer-bottom {
    padding: 20px 0;
    background: #e1e1e1;
    color: #666;
}
.copy {
    line-height: 36px;
}
.payment {
    text-align: right;
}
.payment img {
    display: inline-block;
}

/* Form */
label {
    font-weight: normal;
}
.form-horizontal .control-label {
    text-align: left;
}
.control-label em {
    color: #eb340a;
}
.form-control {
    border-radius: 0;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}
.input-md {
    height: 40px;
}
.btn {
    border: 0;
    border-radius: 0;
    padding: 7px 13px;
}
.btn-md {
    padding: 10px 20px;
}
.btn-lg {
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
}
.btn-danger {
    background-color: #d8373e;
}
.btn-default {
    background-color: #444;
    color: #fff;
}
.btn-default:hover,
.btn-default:focus {
    background-color: #d8373e;
    color: #fff;
}
.btn-cart,
.btn-wishlist,
.btn-compare,
.btn-readmore {
    position: relative;
    padding-right: 47px;
}
.btn-wishlist:after,
.btn-compare:after,
.btn-readmore:after {
    width: 34px;
    height: 34px;
    background: #969696;
    text-align: center;
    font-family: FontAwesome;
    font-size: 14px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 34px;
}
.btn-wishlist,
.btn-compare,
.btn-readmore {
    background-color: #a5a5a5;
}
.btn-wishlist:hover,
.btn-compare:hover,
.btn-readmore:hover {
    background-color: #d8373e;
}
.btn-wishlist:hover:after,
.btn-compare:hover:after,
.btn-readmore:hover:after {
    background: #c5282f;
}
.btn-wishlist:after {
    content: "\f005";
}
.btn-compare:after {
    content: "\f0ec";
}
.btn-readmore:after {
    content: "\f086";
}
.btn-continue,
.btn-login {
    position: relative;
    padding-left: 57px;
}
.btn-continue:before,
.btn-login:before {
    width: 40px;
    height: 40px;
    background: #c5282f;
    text-align: center;
    font-family: FontAwesome;
    font-size: 14px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 40px;
}
.btn-continue:before {
    content: "\f178";
}
.btn-login:before {
    content: "\f007";
}